body {
  font-family: "sans-serif";
  color: #fff;
  margin: 0;
}

h2, h3, p {
  margin: 0.3rem;
}


.title {
  margin: 0 2rem;
  color: #444;
  text-align: center;
}

.title .detail {
  font-size: 1rem;
  font-weight: normal;
}

.title::after {
  content: " ";
  display: table;
  clear: both;
}

.intro{
  font-size: 1.3rem;
}

h1 {
  padding: 1rem 0 1rem 0;
  margin: 0;
  font-size: 1rem;
}

.demo-text {
  color:#444;
}

.app {
  text-align: center;
  /*background-color:#07b;*/
  background-color:#444;
  transition: background 2s ease-in-out;
}
.app-with-image{
  background-color: #444;
}

.app .initial-dropzone {
  margin: 0rem 2rem 0rem 2rem;
  padding: 2rem 0rem 2rem 0rem;
}

.app-with-image .dropzone-active {
   background:#0c0; 
}

.app-with-image .dropzone-reject {
  background: #c00;
}

.app .status-message {
  text-align: left;
  height: 2rem;
  line-height: 1.8rem;
  margin: 0 2rem;
  border-radius: 0.8rem;
  padding: 0.1rem 1rem;
  background-color: #222;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.app .status-message-visible {
  opacity: 1;
}

.app .status-message-error {
  background-color: #600;
  color: #fcc;
}

.app .image-preview {
  position: relative;
  transition: max-height 2s ease-in-out;
  flex-grow:1;
}
.app .image-preview img {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    cursor:pointer;
    border-radius: 6px;
}

.app .image-preview-visible {
  display:block;
  margin: 2rem 2rem 2rem 2rem;
}

.prompt {
  color: #777;
  position: absolute;
  bottom: 2%;
  left: 0px;
  right: 0px;
  transition:
    opacity 0.2s ease-in-out,
    color 2s ease-in-out,
    transform 2s ease-in-out;
}
.app .image-preview .prompt {
  bottom: -1.5rem;
}

.result-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1px 0px 11px -5px #777; 
}

.footer {
  margin-top:1rem;
  text-align: center;
  width:100%;
}

.footer a {
  display:inline-block;
  margin:1rem;
  color:#777;
}