@font-face{
  font-family: "sfs-regular";
  src:url("/SalesforceSans-Regular.ttf");
}

@font-face{
  font-family: "sfs-thin";
  src:url("/SalesforceSans-Thin.ttf");
}

html,body,div,p,span {
  font-family: "sfs-thin";
}

body {
  color: #fff;
  margin: 0;
}

h2, h3, p {
  margin: 0.3rem;
}


.title {
  margin: 0;
  /* background-color: #07b; */
}

.title::after {
  content: " ";
  display: table;
  clear: both;
}

.intro{
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

h1 {
  text-align: left;
  padding: 1rem 0 1rem 0;
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.demo-text {
  color:#07b;
  font-family:"sfs-regular";
}

.app {
  text-align: center;
  background-color:#07b;
}
  @media (min-width: 600px) {
    .app {
      /*
      margin-left: 17vw;
      margin-right: 17vw;
      */
    }
  }

.app .dropzone {
  margin: 1rem 2rem 1rem 2rem;
  padding: 2rem 0rem 2rem 0rem;
}

.result-wrapper .dropzone {
  margin:0;
  padding:0;
}

.app .status-message {
  text-align: left;
  height: 2rem;
  line-height: 1.8rem;
  margin: 0 2rem;
  border-radius: 0.8rem;
  padding: 0.1rem 1rem;
  background-color: #222;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.app .status-message-visible {
  opacity: 1;
}

.app .status-message-error {
  background-color: #600;
  color: #fcc;
}

.app .image-preview {
  transition: max-height 2s ease-in-out;
  flex-grow:1;
}
.app .image-preview img {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    cursor:pointer;
}

.app .image-preview-visible {
  display:block;
  margin: 1rem;
}

.app .about-this-app {
  margin: 1rem 2rem;
  padding: 0.1rem 1rem;
  color: #ccc;
  background: #222;
  border-radius: 0.8rem;
  text-align: left;
}

.result-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1px 0px 11px -5px #777; 
  /*border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;*/
}


.footer {
  margin-top:1rem;
  text-align: center;
  width:100%;
}

.footer a {
  display:inline-block;
  margin:1rem;
  color:#777;
}

.footer svg{
  fill:white;
  max-width:2rem;
}