.predictions{
  flex-grow:1;
  background:#fff;
  padding-top: 1rem;
}

.predictions .prediction {
  overflow: hidden;
  line-height: 1.5rem;
  margin: 0 1rem;
  padding: 0.1rem 1rem;
  color: #fff;
  background: #000;
  border-radius: 6px;
  text-align: left;
}

.predictions .prediction + .prediction {
  margin-top: 0.5rem;
}

.predictions .prediction .probability {
  float: right;
  text-align: 'right';
}

.predictions .prediction .alt-labels {
  font-size: 0.8rem;
}