.upload-target {
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  transition: transform 2s ease-in-out,
              background .5s ease-in-out;

}

.upload-target svg {
  max-height: 85vw;
  transition:
    max-height 2s ease-in-out,
    transform 2s ease-in-out;
}

.upload-target .camera {
  margin: 3rem;
  width: 10rem;
  fill: #666;
  transition: fill 0.2s ease-in-out;
}

.upload-target .frame {
  display: none;
}
