<title>Metamind Demo</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/static/dropzone.js"></script>
<script type="text/javascript" src="/static/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/static/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/jquery.cloudinary.js"></script>
