<div id="previews" class="row files">
  <div class="file-row" id="template">
    <div class="col-md-6">
      <img class="img-responsive preview" style="" data-dz-thumbnail />
    </div>
    <div class="col-md-6">
      <h4 class="name" data-dz-name></h4>
      <table id="MetamindResults" class="table"></table>
      <p class="error text-danger" data-dz-errormessage></p>
    </div>
  </div>
</div>