.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

#file-input{
  display:none;
}
.preview{
  margin:0px auto;
  margin-bottom:40px;
}
.fileupload-process{
  margin:0px auto;
  max-width:500px;
  margin-top:20px;
  margin-bottom:20px;
}
#total-progress{
  opacity:0;
}

#einstein {
  display:none;
  margin: 0px auto;
}

#template {
  
}


#metamindUpload{
    background-position: center;
    max-width: 500px;
    height:500px;
    width:70%;
    background-size: cover;
    background: url(/static/metamindIcon.svg) no-repeat;
    margin: 0px auto;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out; /* Safari */
    transition:all 2s ease-in-out ;
}

#metamindUpload:hover {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -o-transform: scale(.9); 
    -moz-transform: scale(.9);
}

@media (max-width: 600px) {
  #metamindUpload {
    height:400px;
  }
}

@media (max-width: 500px) {
  #metamindUpload {
    height:350px;
  }
}

@media (max-width: 400px) {
  #metamindUpload {
    height:300px;
  }
}




