<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div id="dropZone" style="margin:0px auto;width:300px;">
    <form action="/file-upload"
          class="dropzone"
          id="metamindUpload">
      <i style="font-size:300px;cursor:pointer;" class="material-icons dz-message">photo_camera</i>
    </form>
    <button id="clear" class="form-control">Clear</button>
  </div>
  <script>
  Dropzone.options.metamindUpload = {
    uploadMultiple:false,
    maxFiles:1,
    acceptedFiles:".png,.jpg,.jpeg,.pgm"
  }
  </script>
</body>
</html>
